* {
    box-sizing: border-box;
  }

body {
    margin: 0;
    padding: 0;
}
h1 {
    background-color: #344658;
    margin-left: 0;
    color: white;
    padding: 1em;
    margin: 0;
}

h2 {
    color: #344658;
}

.top-hr {
    color: white;
    padding: 1.5px;
    border-top: 3px solid black;
    border-bottom: 1px solid black;
    border-left: none;
    border-right: none;
}

main {
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
}

.top-h2,
.footer,
h1 {
    text-align: center;
}

.contact-info {
  border: none;
  font-size: 18.6px;
  border-radius: 4px;
  height: auto;
  margin: 0;
  padding: 15px 30px 15px 30px;
  background-color: #e9e9e9;
  margin-bottom: 30px;
  
}

.contact-div {
    border: none;
    font-size: 18.6px;
    border-radius: 4px;
    height: auto;
    margin: 0;
    padding: 15px 30px 15px 30px;
    background-color: #e9e9e9;
    margin-bottom: 30px;
    width: 100px;
    display: flex;
    flex-direction: column;
  }

textarea {
    border: none;
    font-size: 18.6px;
    border-radius: 4px;
    height: auto;
    margin: 0;
    padding: 15px;
    background-color: #e9e9e9;
    margin-bottom: 30px;
    width: 280px;
 
  }

.newsletters {
    margin-bottom: 20px;
}

input[type="radio"],
input[type="checkbox"] {
    margin: 0 5px 20px 5px;
}

button {
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background-color: #58bbb3;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #58bbb3;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="tel"]::placeholder {
    text-align: right;
}

fieldset {
    padding: 0;
    border: none;
}

 @media (min-width: 768px) {

    main {
        max-width: 60%;
        margin: 0 auto;
    }


    textarea#topics {
        height: 100px;
        width: 430px;
    }

    .flex,
    .flex-zip {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    .flex label,
    .flex-zip label {
        flex-basis: 25%;
    }

    .flex input,
    select {
        flex-basis: 75%;
    }

    .flex-zip input {
        flex-basis: 40%;
    }
    
    label {
        padding-right: 10px;
    }

    

  }